/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.6;
    font-family: "UTMAvo", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333; 
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.no-bullets {
    list-style: none outside;
    margin-left: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 'a' 'b' 'c' 'd';
}

.grid-header {
    background: rgba(74, 29, 34, 0.9);
    display: grid;
    grid-area: a;
    grid-template-areas: 'item1' 'item2';
}

.grid-item-header-top {
    padding: 0 30px;
    margin: 0 170px;
    display: grid;
    grid-area: item1;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-items: center;
}

.grid-item-header-top a {
    text-decoration: none;
}

.grid-item-header-bottom {
    padding: 0 30px;
    margin: 0 170px;
    margin-left: 17%;
    padding-bottom: 10px;
    grid-area: item2;
}

.grid-item-header-bottom ul {
    list-style-type: none;
}

.nav>li {
    float: left;
    margin-right: 10px;
    position: relative;
}

.nav .dropdown {
    position: relative;
}

/* duong gach chan xanh */
.nav>li>a::after {
    content: '';
    height: 3px;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
}

.nav>li>a:hover::after {
    background:  #c0c906 ;
}

.nav li a, span, i {
    color: #fff;
    text-decoration: none;
}

.nav > li.dropdown:hover .subnav {
    display: block;
}

.nav .subnav {
    display: none;
    border-radius: 3px;
    padding: 5px;
    min-width: 250px;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 100;
    background: #484105;
    margin: 0px;
    line-height: normal;
    text-align: left;
}

.slideshow {
    grid-area: b;
    width: 100%;
    height: 364px;
    position: relative;
    overflow: hidden;
}

.slideshow .myslide {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left: 0px;
}

.nut-slide ul {
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
}

.nut-slide ul li {
    width: 15px;
    height: 15px;
    background: #c0c906;
    opacity: 0.5;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
}

.nut-slide ul li.active_nut {
    opacity: 1;
}

.content {
    grid-area: c;
    display: grid;
    grid-template-areas: 'a1' 'a2' 'a3' 'a4';
}

.content .home-products {
    grid-area: a1;
    margin: 0 200px;
    padding: 50px 0px;
    background-color: #f8f2e8;
}

.content .list-products {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 16px 32px;
}

.content .product-img img {
    width: 100%;
    transition: 0.3s;
}

.content .product-title {
    margin: 16px 0;
}

.content .product-title a {
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    color: #333333;
}

.product-loop:hover .product-title>a {
    color :#c0c906;
}

.product-loop:hover .product-img>a>img {
    transform: scale(1.05);
}

.content .product-loop {
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background: #fff;
}

.product-loop .product-price {
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    background: #c0c906;
    line-height: 40px;
    color: #fff;
    border-top-right-radius: 10px;
    float: left;
    position: relative;
    z-index: 2;
}

.product-loop .product-actions {
    display: inline-block;
    float: left;
}

.product-loop .product-actions button {
    height: 40px;
    line-height: 40px;
    width: 45px;
    padding: 0;
    background-color: #3d1a1a;
    margin-left: -7px;
    color: #fff;
    border-top-right-radius: 10px;
}

.content .title-text h3{
    font-size: 32px;
    color: #c0c906;
    margin-bottom: 0;
}

.content .fa-shopping-cart::before {
    content: "\f07a";
}

.btn-remore {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    background: #3d1a1a;
}

.btn-remore a {
    text-decoration: none;
    color: #fff;
}

.content .home-order {
    grid-area: a2;
    height: 672px;
    background-image: url(/images/background-home-order.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px 0px;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.home-order .wrapper .order-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}

.title-text h3 {
    font-size: 32px;
    color: #c0c906;
    margin-bottom: 0;
}

.title-text h2 {
    color: #3d1a1a;
    margin: 0;
}

.home-order .title-text h2 {
    color: #fff;
}

.home-order .order-content .input-full {
    width: 100%;
}

.home-order .order-content input {
    border: 1px solid #e6e6e6;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
}

.home-order .text-center button {
    padding: 10px 15px;
    color: #fff;
    background: #3d1a1a;
    border-radius: 10px;
}

.wrapper::after {
    content: '';
    display: table;
    clear: both;
}

.content .home-article {
    grid-area: a3;
}

.content .home-introduce {
    padding: 50px 0;
    grid-area: a4;
}

.title-text {
    margin-bottom: 32px;
    text-transform: uppercase;
}

.home-introduce .intro-content {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
    width: 100%;
    clear: both;
}

.home-introduce .intro-content .intro-img {
    margin-top: 20px;
    border: solid 1px #3d1a1a;
    border-radius: 12px;
    float: left;
}

.intro-content .intro-img img {
    width: 100%;
    -webkit-transform: translate(20px, -15px);
    transform: translate(20px, -15px);
    border-radius: 12px;
}

.intro-content .intro-img img:hover {
    transform: translate(0) !important;
}

.home-introduce .intro-content .intro-text {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
    width: 50%;
}

.home-introduce .intro-text a {
    color: #333333;
    line-height: 24px;
}

.home-introduce .intro-text a {
    color: #fff;
    text-decoration: none;
    margin-top: 16px;
}

.home-introduce .intro-text a:hover {
    background: #c0c906;
}

.footer {
    grid-area: d;
}

.footer .footer-top {
    background: url(/images/footer-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
    padding: 50px 0px;
}

.footer-top-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.footer-top .grid-ft {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 32px;
    position: relative;
    z-index: 2;
}

.ft-dk-img img { 
    width: 256px;
    height: 96px;
}

.no-bullets {
    line-height: 3;
}

.grid-ft .ft-social-network i {
    font-size: 25px;
    margin: 16px 8px 0 0;
}

.footer .footer-top .wrapper h4 {
    color: #ffffff;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
}

.footer .wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background: #421a1f;
    padding: 15px 0px;
}

.footer-bottom p {
    color: #fff;
    margin-left: 25%;
}